[submodule "foundry-tests/lib/forge-std"]
	path = foundry-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "demos/simple_testgen/foundry-tests/lib/forge-std"]
	path = demos/simple_testgen/foundry-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-tests/test/foundry-tests/lib/forge-std"]
	path = foundry-tests/test/foundry-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
