[submodule "crates/language/vendor/tree-sitter-solidity"]
	path = crates/language/vendor/tree-sitter-solidity
	url = https://github.com/JoranHonig/tree-sitter-solidity.git
[submodule "crates/language/vendor/tree-sitter-mermaid"]
	path = crates/language/vendor/tree-sitter-mermaid
	url = https://github.com/monaqa/tree-sitter-mermaid.git
